* {
    margin:0;
}

body {
    background-color: #edeef0;
    font-family: Arial;
}

header {
    background-color:#507299;
    width:100%; 
    height:40px;
    position: fixed;
}

header img {
    position:absolute;
    left:15%;
    top:12%;
}

.leftBar {
    float:left;
    width:250px;
    padding: 0px 0px 0px 400px;
    line-height: 25px;
    margin-top:60px;
}

li {
    margin-top:10px;
}

ul {
    list-style-type: none;
}

.content {
    display:inline-block;
    margin-top:60px;
}

.post {
    width: 430px;
    background-color:white;
    padding: 20px 20px 25px 20px;
    border-radius: 20px;
    border: solid 2px #d0d0d0;
    margin: 20px;
    text-align: justify;
}

.post img {
    width: 430px;
}

footer {
    width:100%;
    background-color: #ffffff;
    height:20px;
    text-align:center;
    padding-top:5px;
    color:#8c847c;
}

.like {
    float:left;
}

.comment {
    float:right;
}

.line {
    border: 1px solid #cfcfcf;
    margin-top: 10px;
    margin-bottom:10px;
}

a {
    color:#507299;
    text-decoration: none;
}

.lineHeader {
    border: 1px solid #cfcfcf;
    margin-top: 10px;
    margin-bottom:10px;
    width:109%;
    position:relative;
    right:21px;
}

.rightContent {
    position:fixed;
    top:5%;
    right:20%;
}

.rightPost {
    padding:20px 10px 20px 10px;
    background-color: white;
    width: 140px;
    border-radius: 6px;
    border: solid 2px #d0d0d0;
    margin: 20px;
}

.rightPost p{
    background-color: #edeef0
}

::selection {color: green; background-color: #edeef0;}

li:hover {background-color: #e1e5eb;}

@media (max-width:1680px) {
    .rightContent{
       display: none;
    }
    .leftBar{
        padding-left: 5%; 
    }
}

@media (max-width: 1500px) {
    .leftBar li {
        float: bottom;
        display:inline;
        margin:15px;
    }
    .leftBar{
        max-height: 30px;
        width: 60%;
        text-align: center;
    }
    .content {
        margin-top:0;
    }

}